@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));  */
}

header {
  width: 100%;
  height: 5em;
  background-color: rgb(173, 174, 184);
  display: flex;
}

header div {
  line-height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: x-large;
}

header div a {
  line-height: 100%;
  margin-left: 10px
}

footer {
  width: 100%;
  height: 5em;
  background-color: rgb(173, 174, 184);
  margin-top: auto;
  text-align: right;
}

footer p {
  margin-top: 25px;
  margin-right: 25px;
}

table{
  width: 80%;
  height: 100%;
  margin-top: 5%;
  display: table;
}

table thead{
  text-align: center;
  font-weight: bolder;
}
table tbody{
  text-align: center;
}

form{
  text-align: center;
  width: 50%;
  background-color: rgb(173, 174, 184);
  border-radius: 5px;
  text-align: center;
}
form label{
  font-weight: bold;
  display: table;
}

form div{
  margin: 10px;
  display: table;
  width: 100px;
}

form input{
  border-radius: 5px;
}
form select{
  border-radius: 5px;
}

h1{
  font-size: 30px;
  text-align: center;
}

article div{
  text-align: center;
  margin: 15px;
  font-size: 8ch;
}